{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <h3 class="py-4">42 Coffee Cups Test Assignment</h3>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h6 class="mb-0">Name:</h6>
                            </div>
                            <div class="col-sm-9 text-small">
                                {{data.name}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <h6 class="mb-0">Last Name:</h6>
                            </div>
                            <div class="col-sm-9 text-small">
                                {{data.last_name}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Date of birth:</h6>
                            </div>
                            <div class="col-sm-9 text-small">
                                {{data.date_of_birth}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Bio:</h6>
                            </div>
                            <div class="col-sm-9 text-small">
                                {{data.bio}}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Contacts:</h6>
                            </div>
                            <div class="col-sm-9 text-small">
                                {{data.contacts}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email:</h6>
                            </div>
                            <div class="col-sm-9 text-small">
                                {{data.email}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Jabber:</h6>
                            </div>
                            <div class="col-sm-9 text-small">
                                {{data.jabber}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Skype:</h6>
                            </div>
                            <div class="col-sm-9 text-small">
                                {{data.skype}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Other contacts:</h6>
                            </div>
                            <div class="col-sm-9 text-small">
                                {{data.other_contacts}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href={% url 'log' %} id="request" class="btn btn-primary btn-lg active" role="button"
           aria-pressed="true">requests</a>
    </div>
{% endblock content %}
