{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <h3 class="py-4">42 Coffee Cups Test Assignment</h3>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h6 class="mb-0">Name:</h6>
                            </div>
                            <div class="col-sm-9 text-small">
                                Abu
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <h6 class="mb-0">Last Name:</h6>
                            </div>
                            <div class="col-sm-9 text-small">
                                Abu Sayem
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Date of birth:</h6>
                            </div>
                            <div class="col-sm-9 text-small">
                                22.11.1999
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Bio:</h6>
                            </div>
                            <div class="col-sm-9 text-small">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nam ea quod maxime, modi
                                exercit.
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Contacts:</h6>
                            </div>
                            <div class="col-sm-9 text-small">
                                +8801750721112
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email:</h6>
                            </div>
                            <div class="col-sm-9 text-small">
                                abusaayem@gmail.com
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Jabber:</h6>
                            </div>
                            <div class="col-sm-9 text-small">
                                abusayem.xmpp.jp
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Other contacts:</h6>
                            </div>
                            <div class="col-sm-9 text-small">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nam ea quod maxime, modi
                                exercit.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
